{% extends "base.html" %}
{% set current_page = "analytics" %}
{% block title %}Inventario - {{ title }}{% endblock %}
{% block main %}
    <section class="section is-fullheight has-background-white-ter">
        <div class="container">
            <div class="columns is-centered">
                <!-- Best Selling Products Box -->
                <div class="column is-5">
                    <div class="box">
                        <h4 class="title is-4 has-text-primary">
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fas fa-chart-line"></i>
                                </span>
                                <span>Best Selling Products</span>
                            </span>
                        </h4>
                        <div class="content">
                            <table class="table is-fullwidth">
                                <thead>
                                    <tr>
                                        <th class="has-text-grey has-text-centered">Product Name</th>
                                        <th class="has-text-grey has-text-centered">Sold</th>
                                        <th class="has-text-grey has-text-centered">Total</th>
                                        <th class="has-text-grey has-text-centered">Supplier</th>
                                    </tr>
                                </thead>
                                <tbody id="best-selling-tbody">
                                    {% include 'partials/best_selling_rows.html' %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Low/Out of Stock Products Box -->
                <div class="column is-5">
                    <div class="box">
                        <h4 class="title is-4 has-text-danger">
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fas fa-exclamation-triangle"></i>
                                </span>
                                <span>Low/Out of Stock</span>
                            </span>
                        </h4>
                        <div class="content">
                            <table class="table is-fullwidth">
                                <thead>
                                    <tr>
                                        <th class="has-text-grey has-text-centered">Product Name</th>
                                        <th class="has-text-grey has-text-centered">Status</th>
                                        <th class="has-text-grey has-text-centered">Stock</th>
                                        <th class="has-text-grey has-text-centered">Supplier</th>
                                    </tr>
                                </thead>
                                <tbody id="low-stock-tbody">
                                    {% include 'partials/low_stock_rows.html' %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
