{% extends "base.html" %}
{% set current_page = "profile" %}
{% block title %}{{ title }}{% endblock %}
{% block main %}
    <section class="section is-fullheight has-background-white-ter">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-three-quarters">
                    {% with messages =
                        get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {%
                            for category, message in messages %}
                            {% if category == "success" %}
                                <div class="notification is-{{ category }} is-light has-text-centered">
                                    {{ message }}
                                    <button class="delete"></button>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <div class="box">
                    <div class="columns is-vcentered">
                        <div class="column is-one-quarter">
                            <figure class="image is-128x128 mx-auto">
                                <img class="is-rounded"
                                     src="{{ user.avatar(128) }}"
                                     alt="{{ user.username }}'s avatar">
                            </figure>
                        </div>
                        <div class="column">
                            <h1 class="title is-2">
                                {{ user.username }}
                                <a href="{{ url_for('main.edit_profile', username=user.username) }}"
                                   class="icon is-small is-clickable has-text-grey ml-1"
                                   title="Edit Username"
                                   style="vertical-align: super">
                                    <i class="fas fa-edit is-size-6"></i>
                                </a>
                            </h1>
                            <p>
                                <strong>Joined since:</strong> {{ user.created.strftime("%B %d, %Y") if user.created else 'N/A' }}
                            </p>
                            <div class="my-5">
                                <div class="title is-4 mb-0">Store:</div>
                                <div class="title is-3 mt-0">
                                    {{ user.store_name if user.store_name else 'N/A' }}
                                    <a href="{{ url_for('main.store_name', username=user.username) }}"
                                       class="icon is-small is-clickable has-text-grey ml-1"
                                       title="Edit Store Name"
                                       style="vertical-align: super">
                                        <i class="fas fa-edit is-size-6"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
