{% extends "base.html" %}
{% set current_page = "profile" %}
{% block title %}{{ title }}{% endblock %}
{% block main %}
    <section class="section is-fullheight has-background-white-ter">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-three-quarters">
                    <div class="box">
                        <div class="columns is-vcentered">
                            <div class="column is-one-quarter">
                                <figure class="image is-128x128 mx-auto">
                                    <img class="is-rounded"
                                         src="{{ user.avatar(128) }}"
                                         alt="{{ user.username }}'s avatar">
                                </figure>
                            </div>
                            <div class="column">
                                <h1 class="title is-2">{{ user.username }}</h1>
                                <p>
                                    <strong>Joined since:</strong> {{ user.created.strftime("%B %d, %Y") if user.created else 'N/A' }}
                                </p>
                                <div class="my-5">
                                    <div class="title is-4 mb-0">Store:</div>
                                    <div class="title is-3 mt-0">{{ user.store_name if user.store_name else 'N\A' }}</div>
                                </div>
                            </div>
                            <div class="column has-text-right">
                                <div class="buttons is-flex-direction-column is-align-items-flex-end mt-3">
                                    <a class="button is-small is-primary mb-2"
                                       href="{{ url_for("main.edit_profile", username=user.username) }}">Change Password</a>
                                    <a class="button is-small is-primary"
                                       href="{{ url_for("main.store_name", username=user.username) }}">Store Name</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
