{# templates/partials/supplier_rows.html #}
{% for supplier in suppliers %}
    <tr class="has-background-white">
        <td class="px-6 py-4 has-text-dark has-text-centered is-vcentered">{{ supplier.company_name }}</td>
        <td class="px-6 py-4 has-text-dark has-text-centered is-vcentered">{{ supplier.supplier_name }}</td>
        <td class="px-6 py-4 has-text-dark has-text-centered is-vcentered">{{ supplier.email }}</td>
        <td class="px-6 py-4 has-text-dark has-text-centered is-vcentered">{{ supplier.phone }}</td>
        <td class="px-6 py-4 has-text-centered is-vcentered">
            {% if supplier.status == "inactive" %}
                <span class="tag is-danger has-text-white">Inactive</span>
            {% else %}
                <span class="tag is-success has-text-white">Active</span>
            {% endif %}
        </td>
        <td class="px-6 py-4 has-text-centered is-vcentered align-middle">
            <div class="is-flex is-justify-content-center">
                <button class="button is-ghost has-text-info p-1 mr-2 js-modal-trigger supplier-button"
                        title="Supplier Edit"
                        data-target="edit-supplier-modal"
                        data-supplier-id="{{ supplier.supplier_id }}"
                        data-supplier-company_name="{{ supplier.company_name }}"
                        data-supplier-supplier_name="{{ supplier.supplier_name }}"
                        data-supplier-email="{{ supplier.email }}"
                        data-supplier-phone="{{ supplier.phone }}"
                        data-supplier-status="{{ supplier.status }}">
                    <span class="icon is-medium">
                        <i class="fas fa-edit fa-lg"></i>
                    </span>
                </button>
                <button class="button is-ghost has-text-danger p-1 js-modal-trigger supplier-button"
                        title="Supplier Delete"
                        data-target="delete-supplier-modal"
                        data-supplier-id="{{ supplier.supplier_id }}"
                        data-supplier-company_name="{{ supplier.company_name }}"
                        data-supplier-supplier_name="{{ supplier.supplier_name }}"
                        span
                        class="icon is-medium">
                    <i class="fas fa-trash fa-lg"></i>
                </span>
            </button>
        </div>
    </td>
</tr>
{% endfor %}
